Source: passbolt
Maintainer: Diego Lendoiro <diego@passbolt.com>
Section: web
Priority: extra
Standards-Version: 3.9.8
Build-Depends: debhelper (>= 9),
	php-gnupg,
	php-mysql,
	php-gd,
	php-intl,
	php-json,
	php-mbstring,
	php-mcrypt,
	php-xml,
	php-xsl

Package: passbolt
Architecture: any
Depends: php,
	php-cli,
	php-fpm,
	php-mysql | php-mysqli,
	${shlibs:Depends}, 
	${misc:Depends},
	php-gd,
	php-intl,
	php-json,
	php-mbstring,
	php-mcrypt,
	php-xml,
	php-xsl,
	nginx, 
	default-mysql-server
Suggests: php-redis
Description: Passbolt, open source password manager for teams
